<html>

<body>
    <p>
        To recover your password click <a target="_blank" href="{{link}}">here</a> or copy and paste the folllowing link:
        <br/>
        <a target="_blank" href="{{link}}">{{link}}</a>
    </p>
</body>

</html>